#page {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: radial-gradient(circle, #1F0740, #8C1C31);
  color: white;
  text-shadow: 0 0 8px #F28322;
  text-align: justify;
  font-family: "Russo One";
  
}

#contents{
  width: 90%;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#response{
    font-family: 'Courier New', Courier, monospace;
}

#flex{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
}

input {
  height: 30px;
  font-size: 20px;
  color:#1F0740;
  border-radius: 25px;
  margin-bottom: 3%;
  flex-grow: 3;
  padding-left: 2%;
  font-family: 'Courier New', Courier, monospace;
}

p{
  font-size: 24px;
}

button {
  font-size: 24px;
  background-color: #F28322;
  color: white;
  height: 37px;
  margin-left: 3%;
  border-color: white;
  border-radius: 25px;
  flex-basis: min-content;
  flex-grow: 1;
  font-family: "Russo One";
}

h1 {
  font-size: 70px;
  text-align: center;
}
